@import 'normalize.css';

:root {
    --primary: linear-gradient(90deg, #0050ae 0%, #0391e8 100%);
    --black: #000;
    --white: #fff;
    --text-color: #333;
    --text-primary: #0050ae;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed; //tối ưu hóa hiện font khi web chưa load kịp xuống
    color: var(--text-color);
    overflow-y: overlay;
    user-select: none;
    touch-action: none;
    padding-right: 0 !important;
}

// Css Scrollbar
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    text-decoration: none !important;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
